{% extends "base.html"  %}
{% block content  %}
  <main class="r_box">
     <div class="about">
        <div>{{ user.introduce }}</div>
        <br><hr><br>
        <h2>我的沙盘</h2>
        <br>
<!--        <p>设备状态：{{ user.name }}</p>-->
        <p>设备状态：正在运行</p>
        <br />
<!--        <p>联网状态：{{ user.wb }}</p>-->
        <p>联网状态：正常</p>
        <br />
<!--        <p>设备ID：{{ user.wx }}</p>-->
        <p>设备ID：1234567</p>
        <br />
<!--        <p>使用用户：{{ user.qq }}</p>-->
        <p>使用用户：管理员</p>
     </div>
  </main>
{% endblock  %}
